<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">수정사항</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        1. Token 유효기간 30분 -> 5시간으로 수정하였읍니다.<br>
        2. Community >> 버그 수정하였읍니다.<br>
        3. 댓글 기능 구현하였읍니다.<br>
        감사합니다.
      </div>
    </div>
  </div>
</div>